.parent{
    /*width:1000px;*/
    height:30px;
    border:1px solid #dedede;
    margin:0 auto;
    background: #f6f6f6;
    position:relative;
}
.parent a:hover{
    color:#fa5c6c;
}
.parent p{
    float:left;
    padding:6px 0 0 0;
    position:absolute;
    left:455px;
}
.parent p a{
    color:#808080;
    font-size:13px;
}
.parent ul {
    float:right;
    position:absolute;
    right:470px;
    margin:6px 0 0 0;
}
.parent ul li{
    float: left;
    text-align: center;
}
.parent ul li a{
    color:#808080;
}
#parent{
    width:40px;
    height:25px;
}
.parent_ul{
    position:absolute;
    top:20px;
    left:545px;
    display:none;
}
.parent_ul ul{
    /*position:absolute;*/
    /*top:20px;*/
    /*left:-45px;*/
    border-left:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;
    width:120px;
    height:123px;
    background: #fafafa;
}
.parent_ul li{
    width:120px;
    height:25px;
    padding:5px 0 0 0;
    border-bottom:1px solid #dddddd;
    text-align: center;
}
.parent_ul li a{
    color:#808080;
    z-index:1;
}
.text{
    height:33px;
    border:1px #D90000 solid;
    padding:0 0 0 15px;
    margin:7px 0 0 0 ;
}
.right img{
    border:0px;
    margin:0px 0 3px 0px;
    cursor: pointer;
}
.text1{
    background:#E30000;
    color:#fff;
    width:75px;
    height:25px;
    border:0px;
    cursor:pointer;
    margin:7px 0 0 40px;
    float:left;
}
.top{
    clear: both;
    width:1000px;
    height:120px;
    font-size:20px;
    overflow:hidden;
    margin:auto;
}
.topleft{
    float:left;
    height:120px;
    margin:0px 0px 0px 0px;
}
.left{
    float:left;
    width:260px;
    /*height:110px;*/
    margin:12px 0 0 0;
    background:#ffffff;
}
.left p {
    margin: 30px 0 0 110px;
    font-size: 36px;
    font-family: 微软雅黑;
}
.left p span{
    color:#D90000;
}
.left img{
    float:left;
}
.right{
    float:right;
    height:120px;
    margin-left:30px;
    padding:10px 0px 0px 10px;
}
.right ul{
    padding:25px 0px 0px 10px;
}
.right li {
    font-size:13px;
    padding:5px 0px 0px 0px;
}
.right li a{
    color: #ab5600;
    font-size:12px;
}
.right li a:hover {
    color: #c60;
}

.topright{
    width:200px;
    height:100px;
    line-height:32px;
    float:right;
    color:#7d8008;
    margin:0px 20px 0 0;
}
.topright ul{
    margin:48px 0 0 0;
    width:200px;
    height:37px;
    bordeR-left:1px solid #808080;
}
.topright li {
    float:left;
    border-top:1px solid #808080;
    border-right:1px solid #808080;
    border-bottom:1px solid #808080;
    width:93px;
    height:35px;
}
.topright li img{
    margin: 0 0 5px 0;
}
.topright ul li a{
    font-size:14px;
}
.topright ul li a:hover{
    font-size:14px;
}
/*尾部*/
.bottom{
    font-weight:500;
    height:170px;
    clear:both;
    padding:5px 0px 0px 0px;
    border-top:3px #c60 solid;
    color: #1a0b21;
}
.bottom ul li{
    text-align:center;
    line-height:30px;
    font-size:16px;
}
.bottom ul li a{
    text-align:center;
    font-size:17px;
    margin-left:10px;
}
.header1{
    width:1000px;
    height:41px;
    margin:0 auto 8px  auto;
    border-bottom:2px solid #a38f98;
}
.header1 ul li{
    float:left;
    width:100px;
    height:30px;
    text-align: center;
    margin:5px 0 0 0;
    padding:6px 0 0 0;
}
.header1 ul li a{
    color: #3e2836;
    font-size:18px;
    /*background:url(../image/forumMenuBg.jpg)top right  no-repeat;*/
}
.header1 li a:hover{
    color: #7c7c7c;
}
/*结束*/
body,div,p,a,h1,h2,h3,ul,li,dl,dt,dd,table,tr,td{
    margin:0px;
    padding:0px;
    font-size:13px;
}
body{
    /*width:1100px;*/
    /*height:1500px;*/
    background: #fafafa;
    margin:0px auto;
    font-weight:400;
    font-family: Times New Roman, "黑体";
}
img{
    border:0px;
}
ul li{
    list-style-type:none;
}
a{
    color: #5b3c46;
    text-decoration:none;

}
a:hover{
    color:#fa5c6c;
    text-decoration:none;
    /*font-family:Verdana,"楷体";*/
}
.book_title{
    margin:25px auto 0 auto;
    clear:both;
    width:950px;
    height:30px;
    color: #bbbbbb;
}
.book_title a{
    color: #bbbbbb;
}
.book_list{
    margin:0 auto;
    width:955px;
}
.book_type{
    float:left;
    border:1px solid #ececec;
    width:220px;
}
.book_type dl{
    width:200px;
}
.book_type dl dt{
    height:25px;
    padding:5px 0 0 25px;
    width:195px;
    background: #f0f0f0;
    border-bottom:1px solid #e6e6e6;
}
.book_type dl dd{
    height:30px;
    width:170px;
    padding:10px 0 0 50px;
    border-bottom:1px solid #e6e6e6;
    cursor: pointer;
}
.book_type dl dt a{
    font-size:15px;
    color: #242424;
    font-weight:600;
}
.book_type dl dd a{
    font-size:16px;
}
.book_type dl dd a:hover{
    color:#5b3c46;
}
.mouse_color{
    background:#e6e6e6;
}
.boy_color{
    border-top:2px solid #4464be;
}
.boy_book{
    background: #ededed;
}
.boy_book a{
    color: #4c6fd2;
}
.girl_color{
    border-top:2px solid #cd3e31;
}
.girl_book{
    background: #ededed;
}
.girl_book a{
    color: #cd3e31;
}
.personal_color{
    border-top:2px solid #69cf40;
}
.personal_book{
    background: #ededed;
}
.personal_book a{
    color: #69cf40;
}
.type_title{
    float:left;
    bordeR:1px solid #ececec;
    background: #f6f6f6;
    margin:0 0 0 30px;
    width:700px;
    height:170px;
}
.type_title dl{
    border-bottom:1px dashed #ececec;
    margin:0px 0 0 20px;
    width:600px;
    height:40px;
}
.type_title dl dt,.type_title dl dd{
    float:left;
    margin:0 0 0 20px;
    padding:15px 0 0 0;
    color:#5b3c46;
}
.type_title .titles_color{
    background: red;
}
.type_title .titles_color a{
    color:#f0f0f0;
}
.book_content{
    float:left;
    margin:20px 0 0 30px;
    width:700px;
    /*height:400px;*/
}
.book_table{
    bordeR:1px solid #eeeeee;
}
.book_content .tableList td{
    font-size: 14px;;
    height:30px;
    color: #060606;
    font-weight:600;
}
.book_content table tr td {
    font-size: 14px;
    color:#000;
}
.book_content table tr td a{
    font-size: 15px;
    color:#000;
}
.book_content table tr td a:hover{
    color:#fa5c6c;
}
.book_content_bottom{
    text-align:center;
    /*margin:25px 0 0 250px;*/
    height:100px;
}
.book_content_bottom p{
    float:left;
    margin:0px 0 0 10px;
    padding:7px 0 0 0px;
    width:35px;
    height:25px;
    bordeR:1px solid #d9d9d9;
    background: #fefefe;
}
.book_content_bottom p a{
    color: #6d6d6d;
    font-size:16px;
}
.book_content_bottom h1{
    float:left;
    margin:0px 0 0 10px;
    padding:8px 0 0 0px;
    width:55px;
    height:25px;
    bordeR:1px solid #d9d9d9;
    background: #fefefe;
    font-weight:100;
}
.book_content_bottom h1 a{
    color: #6d6d6d;
    font-size:15px;
}
.book_content_bottom .pageNo_color{
    bordeR:1px solid #a66b7d;
    background: #a66b7d;
}
.book_content_bottom .pageNo_color a{
    color: #ffffff;
}
.book_content_bottom h1:hover{
    cursor: pointer;
    background: #e7e7e7;
}
.book_content_bottom p:hover{
    cursor: pointer;
}
.header_top{
    border-bottom:2px solid #fa5c6c;
}
.header_top a{
    color:#fa5c6c;
}

